-content_for :title
  title=('Questions - ' + @lesson.title)
.tjk-container
  h1.h1.mt-3.tj-text-center ="Questions for #{@lesson.title}"
  hr class=("small mb-5 primary-red")

  -@questions.order(:created_at).each_with_index do |q, index|
    .tj-question-card
      p ==q.question_text
      -q.answers.each do |a|
        - if a.correct?
          p
            strong =a.text
        - else
          p = a.text
