- content_for :title
  title = 'Questions - ' + @lesson.title
.tjs-dashboard.tjs-dashboard--teacher
  = render 'shared/skin/backdrop'
  .tjs-dashboard__inner
    header.tj-tsurface-header
      h1.tjs-display.tj-tsurface-title = "Questions for #{@lesson.title}"

    section.tjs-dashboard__section
      - @questions.order(:created_at).each_with_index do |q, index|
        .tjs-card.tj-question-card
          p == q.question_text
          - q.answers.each do |a|
            - if a.correct?
              p
                strong = a.text
            - else
              p = a.text
