div.lead.tj-text-center ==@question.question_text
-if @question.boolean?
  -@question.answers.order(text: :desc).each do |a|
    button.tj-btn-dark.tj-btn--full.question-button.multiple-choice-button id="response-#{a.id}"
      = a.text
-else
  -@question.answers.shuffle.each do |a|
    button.tj-btn-dark.tj-btn--full.question-button.multiple-choice-button id="response-#{a.id}"
      = a.text
button.tj-btn-dark.tj-btn--full.next-button.tj-invisible#nextButton onclick='location.reload()' Next Question
