.tjk-container.tj-quiz-footer
  .tj-quiz-footer__bar
    -if @quiz.lesson.blank?
      p#quiz-name=@question.topic.name
    -else
      p#quiz-name=@question.lesson.title
    =render "flagged_question_icon"

-unless @quiz.counts_for_leaderboard
  .tj-quiz-warning
    | This quiz is currently not counting towards your leaderboard points.  The first attempt at a lesson homework will count, or the first four quizzes for a particular topic.

dialog#feedbackModal
  .tj-dialog-content
    .tj-dialog-body
      p#feedback You have flagged this question as unfair.  Thanks for your feedback!
    .tj-dialog-footer
      button.tj-btn-secondary type='button' onclick='this.closest("dialog").close()' Close

dialog#videoModal
  .tj-dialog-content
    .tj-dialog-body style='padding: 0'
      button type='button' aria-label='Close' onclick='this.closest("dialog").close()' style='float:right; background:none; border:none; font-size:1.5rem; cursor:pointer'
        span aria-hidden='true' &times;
      .tj-embed-16by9
        iframe#video allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowscriptaccess="always" src="" allowfullscreen=true
