p.lead.text-center ==@question.question_text
input.form-control.text-center#shortAnswerText autofocus='' autocomplete='off'
button.tj-btn-dark.tj-btn--full.question-button#shortAnswerButton Check Answer
button.tj-btn-dark.tj-btn--full.next-button.tj-invisible#nextButton onclick='location.reload()' Next Question
