- content_for :head do
  meta name="turbolinks-cache-control" content="no-cache"
=render('shared/user_navigation')
=render('shared/create_quiz')
=render('shared/homework')
=render('shared/challenges')
=render('shared/notice_modal')