.container
  -@subjects.each do |s|
    .card.mb-2 data-controller='accordion'
      .card-header data-action='click->accordion#toggle'
        = s.name
      .card-body.d-none data-accordion-target='body'
        =link_to 'All', leaderboard_path(id: s.name)
        - s.topics.order(:name).each do |t|
          p =link_to t.name, leaderboard_path(id: s.name, topic: t.id)
