-content_for :title
  title=('Leaderboard - ' + @subject.name)
.container
  .row.py-3
    .col-4.d-none.d-lg-block
      =render 'subject_select'
    .col
      #liveLeaderboard data={ controller: 'live-leaderboard',
                              live_leaderboard_url: leaderboard_path(@subject.name, format: :json),
                              live_leaderboard_subject: @subject.name,
                              live_leaderboard_school: @school.name,
                              live_leaderboard_school_group: @school_group&.name,
                              live_leaderboard_topic: @topic&.id }
        .loader Loading...
