-content_for :title
  title=('Classrooms')
.container
  section.page-section.text-center.pt-2#classrooms data-controller='sync-notice'
    p
      |Current school sync status:
      b.fw-bold#syncStatus data-sync-notice-target='status' #{@school.sync_status.humanize}
    ==sync_status_button
    h1.page-section-header.text-uppercase Classrooms
    ==render_small_separator
    .row.justify-content-center
      .col.mx-auto data-controller='datatable' data-datatable-options-value=({ paginationSize: 25, placeholder: 'No classrooms have been found' }.to_json)
        = render 'shared/table_search'
        table.table.table-hover#classroom-table data-datatable-target='table'
          thead
            tr
              th Name
              th.d-none.d-lg-table-cell Number Students
              th Subject
          tbody
            -@classrooms.each do |c|
              tr
                td =c.name
                td.d-none.d-lg-table-cell =c.enrollments.size
                td =select_tag :subject,
                  options_from_collection_for_select(@subjects, :id, :name, c.subject_id),
                  include_blank: '',
                  id: ('classroom-' + c.id.to_s),
                  class: 'form-select',
                  data: { remote: 'true', url: classroom_path(c.id), method: 'patch', action: 'change->sync-notice#notify' }
