.tjk-container
  turbo-frame id=dom_id(@topic)
    .tjk-field.tjk-field--horizontal
      label.tjk-label.tjk-label--horizontal for='topic-name' Topic Name:
      .tjk-field__control
        =text_field_tag('topic[name]', @topic.name, id: 'topic-name', class: 'tjk-input', disabled: true)
    .tjk-field.tjk-field--horizontal
      label.tjk-label.tjk-label--horizontal for="select-default-lesson" Default Lesson:
      .tjk-field__control
        -if @topic.default_lesson.nil?
          =text_field_tag('topic[default_lesson_id]', "None", id: 'topic-name', class: 'tjk-input', disabled: true)
        -else
          =text_field_tag('topic[default_lesson_id]', @topic.default_lesson.title, id: 'topic-name', class: 'tjk-input', disabled: true)
    =link_to 'Edit Topic', edit_topic_path(@topic), class: 'tj-btn-primary tj-btn--full', data: { turbo: false }
  =link_to 'Add Question', new_question_path(question: { topic_id: @topic }), class: 'tj-btn-primary tj-btn--full'
  = render 'question_table'
  = link_to 'Download Questions', download_topic_questions_path(topic_id: @topic), class: 'tj-btn-primary tj-btn--full'
  = link_to 'Import Questions', import_topic_questions_path(topic_id: @topic), class: 'tj-btn-primary tj-btn--full'
  =link_to 'Archive Topic',
    archive_topic_path(@topic),
    class: 'tj-btn-warning tj-btn--full',
    data: {turbo_method: :patch, turbo_confirm: 'Archive this topic and remove active challenges for it?'}
  =link_to 'Delete Topic',
    topic_path(@topic),
    class: 'tj-btn-danger tj-btn--full',
    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?  This cannot be undone'}
