---
http_interactions:
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"A852030759","name":"Outwood Grange Academy 1532082212","establishment_number":"3430","urn":848187,"phase_of_education":"SECONDARY","la_code":"970","timezone":"Europe\/London","mis":"SIMS","address":{"address_line_1":"78
        Bruce Roads","address_line_2":"Zachary Ford","address_town":"Louismouth","address_postcode":"PE25
        1AA","address_country":{"code":"GBR","name":"United Kingdom"}},"extended":{"allows_writeback":true,"has_timetables":false,"has_lesson_attendance":false,"audit_approved_at":{"date":"2018-07-20
        10:24:14","timezone_type":3,"timezone":"UTC"}},"region":{"code":"GBR","domain":"api.wonde.com","school_url":"https:\/\/api.wonde.com\/v1.0\/schools\/A852030759","identifiers":{"la_code":"970","establishment_number":"3430","urn":848187}}}}'
  recorded_at: Sat, 14 Sep 2019 12:46:30 GMT
[...]
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759/classes?include=students,employees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"A2073985657","mis_id":"5b51b82d0f395","name":"LEI 2","code":null,"description":"51b\/ow9","subject":"A841226283","created_at":{"date":"2018-07-20
        10:23:41.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2018-07-20
        10:23:41.000000","timezone_type":3,"timezone":"UTC"},"students":{"data":[{"id":"A205797104","upi":"1479cf1d289684f08600c9ad1f6406fc","mis_id":"5b51b8255f573","initials":null,"surname":"Ward","forename":"Leo","middle_names":null,"legal_surname":null,"legal_forename":null,"gender":null,"date_of_birth":null,"created_at":{"date":"2018-07-20
        10:23:33.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2018-07-20
        10:23:33.000000","timezone_type":3,"timezone":"UTC"}},{"id":"A514982845","upi":"36668e5f8d115276618dec59c5004bd6","mis_id":"5b51b8255f6f8","initials":null,"surname":"Simpson","forename":"Tina","middle_names":null,"legal_surname":null,"legal_forename":null,"gender":null,"date_of_birth":null,"created_at":{"date":"2018-07-20
        10:23:34.000000","timezone_t[...]
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759/deletions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"pagination":{"next":null,"previous":null,"more":false,"per_page":50,"current_page":1}}}'
  recorded_at: Sat, 14 Sep 2019 12:46:31 GMT
recorded_with: VCR 5.0.0
