nav#navbar-main.tj-navbar data-controller="navbar"
  a.tj-navbar__brand href="/schools"
    i.fas.fa-vihara
    span.tj-navbar__wordmark Tenjin

  button.tj-navbar__toggler type="button" aria-expanded="false" aria-label="Toggle navigation" data-action="click->navbar#toggle" data-navbar-target="toggler"
    i.fas.fa-bars

  .tj-navbar__collapse data-navbar-target="menu"
    a.tj-navbar__link href=schools_path Schools
    a.tj-navbar__link href=show_stats_schools_path Statistics
    a.tj-navbar__link href=subjects_path Subjects
    - if current_admin.super?
      a.tj-navbar__link href=show_available_customisations_path Customisations
      a.tj-navbar__link href=school_groups_path School Groups
      a.tj-navbar__link href=manage_roles_users_path Roles
      a.tj-navbar__link href=admin_path(current_admin) Admin Options
  = button_to "Logout", destroy_admin_session_path, method: :delete, class: "tj-btn-outline-light", data: {turbo: "false"}
