- if flash[:alert].present?
  dialog data-controller='modal' data-auto-open=''
    .modal-content
      .modal-body
        p#alert = flash[:alert]
      .modal-footer
        button.btn.btn-secondary type='button' data-action='click->modal#close' Close
