- if flash[:alert].present?
  dialog data-controller='modal' data-auto-open=''
    .tj-dialog-content
      .tj-dialog-body
        p#alert = flash[:alert]
      .tj-dialog-footer
        button.tj-btn-secondary type='button' data-action='click->modal#close' Close
