.modal.fade#studentLoginModal
  .modal-dialog.modal-dialog-centered role="document"
    .modal-content
      .modal-body
        =simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-inputs
            = f.input :login,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }
            = f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }
            = f.input :remember_me, as: :boolean, input_html: { checked: 'checked' } if devise_mapping.rememberable?
            = f.button :submit, "Login", class: 'btn btn-primary w-100', id: 'loginModal'
        .my-3
          = button_to user_google_oauth2_omniauth_authorize_path,
            method: :post,
            form: { data: { turbo: false } },
            class: 'btn btn-link p-0 border-0 bg-transparent d-block mx-auto' do
            = image_pack_tag 'images/btn_google_signin_dark_normal_web.png', id: 'loginGoogle'
