---
http_interactions:
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"A852030759","name":"Outwood Grange Academy 1532082212","establishment_number":3430,"urn":848187,"phase_of_education":"SECONDARY","la_code":"970","timezone":"Europe\/London","mis":"SIMS","address":{"address_line_1":"78
        Bruce Roads","address_line_2":"Zachary Ford","address_town":"Louismouth","address_postcode":"PE25
        1AA","address_country":{"code":"GBR","name":"United Kingdom"}},"extended":{"allows_writeback":true,"has_timetables":false,"has_lesson_attendance":false,"audit_approved_at":{"date":"2018-07-20
        10:24:14","timezone_type":3,"timezone":"UTC"}},"region":{"code":"GBR","domain":"api.wonde.com","school_url":"https:\/\/api.wonde.com\/v1.0\/schools\/A852030759","identifiers":{"la_code":"970","establishment_number":3430,"urn":848187}}}}'
  recorded_at: Thu, 06 Jun 2019 11:16:17 GMT
[...]
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759/subjects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"A841226283","mis_id":"5b51b82c2095b","code":"LE","name":"Leisure
        & Tourism","active":null,"created_at":{"date":"2018-07-20 10:23:40.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2018-07-20
        10:23:40.000000","timezone_type":3,"timezone":"UTC"}},{"id":"A1209580994","mis_id":"5b51b82c20a31","code":"SO","name":"Sociology","active":null,"created_at":{"date":"2018-07-20
        10:23:40.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2018-07-20
        10:23:40.000000","timezone_type":3,"timezone":"UTC"}},{"id":"A1310675293","mis_id":"5b51b82c20af1","code":"FO","name":"Food
        Tech","active":null,"created_at":{"date":"2018-07-20 10:23:40[...]
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759/classes?include=subject,students,employees
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"A2073985657","mis_id":"5b51b82d0f395","name":"LEI 2","code":null,"description":"51b\/ow9","subject":{"data":{"id":"A841226283","mis_id":"5b51b82c2095b","code":"LE","name":"Leisure
        & Tourism","active":null,"created_at":{"date":"2018-07-20 10:23:40.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2018-07-20
        10:23:40.000000","timezone_type":3,"timezone":"UTC"}}},"created_at":{"date":"2018-07-20
        10:23:41.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2018-07-20
        10:23:41.000000","timezone_type":3,"timezone":"UTC"},"students":{"data":[{"id":"A205797104","upi":"1479cf1d289684f08600c9ad1f6406fc","mis_id":"5b51b8255f573","initials":null,"surname":"Ward","forename":"Leo","middle_names":"Benjamin","legal_surname":null,"legal_forename":null,"gender":"MALE","date_of_birth":{"date":"2009-11-03
        00:00:00.000000","timezone_type":3,"timezone":"Europe\/London"},"created_at":{"date":"2018-07-20
        10:23:33.000000","timezone_type":3,"timezone":"UTC"},"updated_at":{"date":"2018-07-20
        10:23:33.000000","timezone_type":3,"timezone":"UTC"}},{"id":"A514982845","upi":"36668e5f8d115276618dec59c5004bd6","mis_id":"5b51b8255f6f8","initials":null,"surname":"Simpson","forename":"Tina","middle_names":null,"legal_surname":null,"legal_forename":null,"gender":"FEMALE"[...]
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759/deletions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[],"meta":{"pagination":{"next":null,"previous":null,"more":false,"per_page":50,"current_page":1}}}'
  recorded_at: Thu, 06 Jun 2019 11:16:19 GMT
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759/employees/A1984009561?include=contact_details
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"A1984009561","upi":"caea4baa5b7adac73ab1259987d2bcc0","mis_id":"5b51b82514db2","initials":null,"title":"Miss","surname":"Marshall","forename":"Emma","middle_names":null,"legal_surname":null,"legal_forename":null,"gender":null,"date_of_birth":null,"updated_at":{"date":"2018-07-20
        10:23:33.000000","timezone_type":3,"timezone":"UTC"},"created_at":{"date":"2018-07-20
        10:23:33.000000","timezone_type":3,"timezone":"UTC"},"contact_details":{"data":{"phones":{"phone":null,"primary":null,"home":null,"work":null,"mobile":null},"emails":{"email":"x5j7Vj4r54320f@example.org","primary":"w97DLXLq5432cb@example.com","home":"qY2z6tVt5433c0@example.net","work":"jMccTp2R54346b@example.org"},"addresses":{"home":{"house_number":null,"house_name":null,"apartment":null,"street":null,"district":null,"town":null,"county":null,"country":null,"postcode":null},"work":{"house_number":null,"house_name":null,"apartment":null,"street":null,"district":null,"town":null,"county":null,"country":null,"postcode":null}}}}},"meta":{"includes":["contact_details","employment_details","extended_details","roles","allowances","scales","photo","roles.contract","allowances.contract","scales.contract","contracts","contracts.roles","contracts.salary","contracts.salary.allowances","contracts.salary.scales","salary","salary.contract","groups","classes","classes.subject","classes.lessons","classes.lessons.period","classes.lessons.room","behaviours","behaviours.students","hierarchy","hierarchy.employment_details","employee_absences","user_defined_fields"]}}'
  recorded_at: Thu, 06 Jun 2019 11:16:20 GMT
recorded_with: VCR 4.0.0
