  .text-center#ogatAbout
    p This site is operated by Outwood Grange Academies Trust, a company limited by guarantee registered in England and Wales with company number 06995649. Registered office address: Potovens Lane, Outwood, Wakefield, West Yorkshire WF1 2PF. VAT number: 158 2720 04. Outwood Grange Academies Trust is an exempt charity.
    p Here is a link to our policies
    p This is a succinct privacy notice