-content_for :title
  title=('About')
.section style='padding-top: 1.5rem'
  h1.page-section-header.text-uppercase.tj-text-center About
  hr.small.primary-red style='margin-bottom: 3rem'
.tj-flex.tj-justify-center
  div style='flex: 0 1 66.67%; min-width: 0'
    -if ENV['OGAT']
      =render('about_ogat')
    -else
      =render('about_standard')
=render('student_login_modal')