- content_for(:page_meta) do
  meta name="description" content="Quizzes: learn, compete, succeed!"
  meta property="og:type" content="website"
  meta property="og:title" content="Tenjin"
  meta property="og:description" content="Quizzes: learn, compete, succeed!"

header.masthead.masthead-container.masthead-full.text-white
  .container.h-100
    .row.h-100.align-items-center
      .col.text-center
        h1.section-heading.text-uppercase#mastheadText Learn, Compete, Succeed
        ==render_small_separator
footer.fixed-bottom.text-end.px-3.py-3.text-white
  = link_to 'About', page_path('about'), class: 'text-light'
