/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "~bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free';
@import 'pages';
@import 'dashboard';
@import 'actiontext';
@import 'trix/dist/trix';
@import 'leaderboard';


.navbar-dark .nav-item .nav-link {
  color: theme-color("light");
}

a {
  color: #212529;
  text-decoration: none
}

a:hover {
  color: grey;
  text-decoration: none
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.score-changed {
  -webkit-animation: flash 1s 1 !important;
  -animation: flash 1s 1 !important;
}

@-webkit-keyframes flash {
  0%  {background-color:inherit};
  50% {background-color:red};
  100%{background-color:inherit};
}

@keyframes flash {
  0%  {background-color:inherit};
  50% {background-color:red};
  100%{background-color:inherit};
}

.incorrect-answer {
  background-color: darkred !important;
  color: white !important;
  opacity: 1.0 !important;
}

.correct-answer {
  background-color: darkgreen !important;
  color: white !important;
  opacity: 1.0 !important;
}

.question-button {
  white-space: normal !important;
  background-color: black;
  color: white;
}

.next-button {
  background-color: black;
  color: white;
}

hr.small {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

%hr.primary-shared {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  height: 0.125rem;
}

hr.secondary {
  @extend %hr, .primary-shared;
  border-color: white;
}

.page-section
{
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.page-section-header
{
  font-size: 3rem;
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 900;
  line-height: 1.2;
  color: inherit;
}

h1#branding-text {
  margin-bottom: 0rem;
}

#navbar-main.bg-black {
  background-color: black;
}

#navbar-main {
  background-color: transparent;
  min-height: 66px;
}

#navbar-btn {  
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}

h1, h3, #branding-text, .fa-2x {
  font-size: 2rem;

}

.navbar {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.form-control {
  font-size: 1.25rem;
}

body {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.error {
  @extend .text-danger
}