.tjk-container
  h1.display-4#subject_name = @subject.name
  = simple_form_for @subject do |f|
    =f.input :name
    =f.input :active
    =f.button :submit, class: "tj-btn-primary tj-btn--full"
  =link_to 'Deactivate Subject',
    subject_path(@subject),
    class: 'tj-btn-danger tj-btn--full',
    data: {turbo_confirm: "Are you sure?", turbo_method: "delete"}
