.tjk-container
  section.page-section.text-center.pt-2#createLesson
    h1.page-section-header.text-uppercase Update Lesson
    h3.text-uppercase =@lesson.subject.name
    hr class=("small mb-5 primary-red")
    =simple_form_for @lesson do |f|
      =f.input :title, wrapper: :horizontal_form
      =f.input :video_id, label: 'URL:', wrapper: :horizontal_form
      =f.association :topic, collection: @topics, wrapper: :horizontal_form
      =f.button :submit, 'Update Lesson', class: 'btn btn-block btn-primary'
