-content_for :title
  title=('New Homework')
section.page-section.text-center.pt-2#set_homework
  .tjk-container data-controller='homework'
    h1.page-section-header.text-uppercase Set Homework
    p.lead =@classroom.name
    hr class=("small mb-5 primary-red")
    .jsVars data={ lessons: @lessons.to_json }
    =simple_form_for @homework do |f|
      =f.input :due_date, as: :string, label: 'Due date', wrapper: :horizontal_form,
        input_html: { type: 'datetime-local', min: Time.current.strftime('%Y-%m-%dT%H:%M'), value: f.object.due_date&.strftime('%Y-%m-%dT%H:%M'), onchange: 'this.blur()' }
      =f.input :required, label: 'Required %', collection: (0..100).step(10), wrapper: :horizontal_form
      =f.association :topic, collection: @classroom.subject.topics.order(:name), wrapper: :horizontal_form,
        input_html: { data: {action:'homework#loadLessons'} }
      =f.input :lesson_id,
        as: :select,
        disabled: true,
        label: 'Lesson (Optional)',
        wrapper: :horizontal_form,
        input_html: { data: {target:'homework.lessonSelect'} }
      =f.association :classroom, as: :hidden
      =f.submit "Set Homework", class: 'btn btn-primary'
