- content_for :title
  title = 'Homework'
section.tj-section#HomeworkTitle
  .tjk-container
    h1.tj-section-header Homework
    p.tj-lead = link_to(@homework.classroom.name, @homework.classroom)
    p.tj-lead
      => @homework.topic.name
      - if @homework.lesson
        ' -
        => @homework.lesson.title
      ' -
      => number_to_percentage(@homework.required, precision: 0)
      | required
    hr.tj-hr-primary
    h3 = report_progress(@homework_counts)

section.tj-section#StudentProgress
  .tjk-container
    table.tj-table
      thead
        tr
          th Name
          th Complete?
          th Progress
      tbody
        - @homework_progress.each do |h|
          tr.student-row data-user=h.user.id
            td
              => h.user.forename[0]
              = h.user.surname
            td = boolean_icon(h.completed?)
            td
              = h.progress.to_s
              | %
    = link_to 'Delete Homework',
      homework_path(@homework),
      data: { turbo_method: 'delete' },
      class: 'tj-btn-danger tj-btn--full'
