.tjk-container
  h2.page-section-header School Statistics
  =render('school_statistics_table')

  h2.page-section-header Customisations
  table.tj-table
    tr
      th
      th Weekly
      th Overall
    - @customisation_statistics.each do |c|
      tr
        td = c.name
        td = c.customisation_type
        td = c.count.to_s
