/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'slick';
@import 'dashboard.scss';
@import 'pages.scss';

.score-changed {
  -webkit-animation: flash 1s 1 !important;
  -animation: flash 1s 1 !important;
}

@-webkit-keyframes flash {
  from {
      background-color: red;
  }
  to {
      background-color: inherit;
  }
}

@keyframes flash {
  from {
    background-color: red;
  }
  to {
      background-color: inherit;
  }
}

.incorrect-answer {
  background-color: darkred !important;
  color: white !important;
  opacity: 1.0 !important;
}

.correct-answer {
  background-color: darkgreen !important;
  color: white !important;
  opacity: 1.0 !important;
}

.question-button {
  white-space: normal !important;
  background-color: black;
  color: white;
}

.next-button {
  background-color: black;
  color: white;
}

hr.small {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

hr.primary {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  height: 0.125rem;
  border-color: #ef4035;
}

.page-section
{
  padding-top: 7.25rem;
}

.page-section-header
{
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 900;
  line-height: 1.2;
  color: inherit;
}

#navbar-main.bg-black {
  background-color: black;
}

#navbar-main {
  background-color: transparent;
  min-height: 66px;
}

#navbar-btn {  
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

#branding-text, .fa-2x {

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0rem;
  }

}

.navbar {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.form-control {
  font-size: 1.25rem;
}

body {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}