// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 

@import "bootstrap";

.table-hover> tbody> tr:hover{
  background-color: #ef4035;
}

%homework{
  @include media-breakpoint-up(lg) {
    background-attachment: fixed !important;    
  }
  background-size: cover !important;
  background-position: center !important; 
  color: white;
}

// DEFAULT
#homework-default{
  @extend %homework;
  background-color: #ef4035;  
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), image-url("athletics.jpg") no-repeat;
}

hr.primary-default {
  @extend %hr.primary-shared;
  border-color: #ef4035;
}

//DARK RED - FERRARI
#homework-darkred{
  @extend %homework;
  background-color: darkred;  
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), image-url("darkred-ferrari.jpg") no-repeat;
}

hr.primary-darkred {
  @extend %hr.primary-shared;
  border-color:darkred;
}

//YELLOW - CHEERFUL
#homework-yellow{
  @extend %homework;
  background-color:yellow;  
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), image-url("yellow-cheerful.jpg") no-repeat;
}

hr.primary-yellow {
  @extend %hr.primary-shared;
  border-color:yellow;
}

//GREEN - FOOTBALL
#homework-darkgreen{
  @extend %homework;
  background-color:darkgreen;  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), image-url("green-football.jpg") no-repeat;
}

hr.primary-darkgreen {
  @extend %hr.primary-shared;
  border-color:darkgreen;
}

//ORANGE - CLIMBING
#homework-orange{
  @extend %homework;
  background-color:orange;  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), image-url("orange-climbing.jpg") no-repeat;
}

hr.primary-orange {
  @extend %hr.primary-shared;
  border-color:orange;
}

//DARK BLUE - HIKING
#homework-darkblue{
  background-color:darkblue;  
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), image-url("darkblue-hiking.jpg") no-repeat;
  @extend %homework;
}

hr.primary-darkblue {
  @extend %hr.primary-shared;
  border-color:darkblue;
}

#newQuiz{
  background-color: white;
}

.subject-carousel-item-text {
  position: absolute;
  color: white;
  pointer-events: none;
  max-width: 15rem;
}

.subject-carousel-item-image {
  filter: brightness(50%);
}

.slick-arrow {
  position: absolute;
  background-color: #ef4035;
  height: 3.75rem;
  width: 2.5rem;
  text-align: center;
  color: #fff;
  line-height: 3.75rem;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto 0;
  opacity: 0.6;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  right: 15px;
}

.slick-arrow.slick-next {
  left: 15px;
}

.slick-arrow:active {
  opacity: 1;
}
