// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#navbar-btn {  
  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

#masthead-text {
  @include media-breakpoint-up(sm) {
    font-size: 6rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 8rem;
  }
}

.navbar {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

#branding-text, .fa-2x {

  @include media-breakpoint-up(sm) {
    font-size: 4rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0rem;
  }

}

.flex-centered {
  display: flex;
  justify-content: center;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}


hr.small {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

hr.primary {
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
  height: 0.125rem;
  border-color: #ef4035;
}

a:hover { 
  background-color: transparent !important;
}

.masthead {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.7))), image-url("bg-masthead.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), image-url("bg-masthead.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.masthead-full {
  padding: 0rem 0;
    padding-top: 5rem;
    padding-right: 0px;
    padding-bottom: 0rem;
    padding-left: 0px;
}