-content_for :title
  title=("Edit #{@customisation.name}")
section.page-section.text-center.available-customisations
  .container
    -if @customisation.dashboard_style? || @customisation.image.attached?
      .card.dashboard-style style=render_dashboard_style(@customisation)
        .card-body.m-5
          h2.m-5.page-section-header.text-uppercase.text-white =@customisation.name
          ==render_small_separator(@customisation)
    ul
    - @customisation.errors.full_messages.each do |e|
      li = e
    =simple_form_for @customisation do |f|
      =f.select :customisation_type, options_for_select(Customisation.customisation_types.to_a.map { |k| [k[0].humanize, k[0]] },
        selected: @customisation.customisation_type ), {},
        class: 'custom-select'
      =f.input :name
      =f.input :value
      =f.input :cost
      =f.input :purchasable
      =f.input :sticky
      =f.input :image
      =f.submit