---
http_interactions:
- request:
    method: get
    uri: https://api.wonde.com/v1.0/schools/A852030759
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic 2a550dc912f6a63488af42352b79c5961e87daf9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"id":"A852030759","name":"Outwood Grange Academy 1532082212","establishment_number":3430,"urn":848187,"phase_of_education":"SECONDARY","la_code":"970","timezone":"Europe\/London","mis":"SIMS","address":{"address_line_1":"78
        Bruce Roads","address_line_2":"Zachary Ford","address_town":"Louismouth","address_postcode":"PE25
        1AA","address_country":{"code":"GBR","name":"United Kingdom"}},"extended":{"allows_writeback":true,"has_timetables":false,"has_lesson_attendance":false,"audit_approved_at":{"date":"2018-07-20
        10:24:14","timezone_type":3,"timezone":"UTC"}},"region":{"code":"GBR","domain":"api.wonde.com","school_url":"https:\/\/api.wonde.com\/v1.0\/schools\/A852030759","identifiers":{"la_code":"970","establishment_number":3430,"urn":848187}}}}'
  recorded_at: Thu, 06 Jun 2019 11:18:42 GMT
recorded_with: VCR 4.0.0
